{% extends "base.html" %}


{% block head_title %}Sign In{% endblock %}

{% block content %}

<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="accordion accordion-lg divcenter nobottommargin clearfix" style="max-width: 550px;">

        <div class="acctitle"><i class="acc-closed icon-lock3"></i><i class="acc-open icon-unlock"></i>Login to your Account</div>
        <div class="acc_content clearfix">

          <form class="login" method="POST" action="/accounts/login/">
            {% csrf_token %}

            {% if form.non_field_errors %}<p style="color: red;">{{form.non_field_errors.as_text}}</p> {% endif %}
            {% if form.login.errors %} <p style="color: red;">{{form.login.errors.as_text}}</p> {% endif %}

            <div class="col_full">
              <label for="login">Username:</label>
              <input type="text" autofocus="autofocus" class="form-control" id="id_login" maxlength="150" name="login" placeholder="Username" type="text" required="" />
            </div>

            <div class="col_full">
              <label for="login-form-password">Password:</label>
              <input class="form-control" id="id_password" name="password" placeholder="Password" type="password" required=""/>
            </div>

            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <div class="col_full nobottommargin" style="text-align:center">
              <a class="" href="#">Forgot Password?</a>
            </div>
            <div class="col_full nobottommargin" style="text-align:center">
              <button class="button button-3d button-black nomargin" type="submit">Login</button>
            </div>
            

          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

