{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  asdassssssssssssssssssssssssssssssssssssssssssss
	<div class="tab-content clearfix" id="tab-register">
		<div class="panel panel-default nobottommargin">
			<div class="panel-body" style="padding: 40px;">
				<h3>Register for an Account</h3>

				<form id="register-form" name="register-form" class="nobottommargin" action="#" method="post">

					<div class="col_full">
						<label for="register-form-name">Name:</label>
						<input type="text" id="register-form-name" name="register-form-name" value="" class="form-control" />
					</div>

					<div class="col_full">
						<label for="register-form-email">Email Address:</label>
						<input type="text" id="register-form-email" name="register-form-email" value="" class="form-control" />
					</div>

					<div class="col_full">
						<label for="register-form-username">Choose a Username:</label>
						<input type="text" id="register-form-username" name="register-form-username" value="" class="form-control" />
					</div>

					<div class="col_full">
						<label for="register-form-phone">Phone:</label>
						<input type="text" id="register-form-phone" name="register-form-phone" value="" class="form-control" />
					</div>

					<div class="col_full">
						<label for="register-form-password">Choose Password:</label>
						<input type="password" id="register-form-password" name="register-form-password" value="" class="form-control" />
					</div>

					<div class="col_full">
						<label for="register-form-repassword">Re-enter Password:</label>
						<input type="password" id="register-form-repassword" name="register-form-repassword" value="" class="form-control" />
					</div>

					<div class="col_full nobottommargin">
						<button class="button button-3d button-black nomargin" id="register-form-submit" name="register-form-submit" value="register">Register Now</button>
					</div>

				</form>
			</div>
		</div>
	</div>

	{% if redirect_field_value %}
		<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
	{% endif %}
	<button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}

