{% extends "base.html" %}
{% block content %}

<!-- Begin page content -->
<div class="container">

  <h2 class="featurette-heading">"by girls, for girls"</h2><br>

  <div class="row">
        <img src = "/static/team.jpg">
        <br>The Palo Alto High School Application and Website design club.
        <br><i>From left: Nicole Li, Rolina Wu(President), and Elspeth Wing</i>
  </div>
  <br><br><br>


  <!-- FOOTER -->

  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
  </footer>
  <br>
  <hr class="featurette-divider">

</div><!-- /.container -->

{% endblock %}
