{% extends "base.html" %}
{% block content %}
    <section id="content">

      <div class="content-wrap">

        <div class="container clearfix">

          <div class="heading-block title-center nobottomborder">
            <h1> Your profile is under review. </h1>
            <span> Thank you for Sign up. Please check back again within some days. </span>
          </div>

          <div id="countdown-ex1" class="countdown countdown-large divcenter bottommargin" style="max-width:700px;"></div>

          <div class="clear"></div>

          <div class="progress progress-striped active topmargin divcenter" style="height: 10px; max-width:600px;">
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
              <span class="sr-only">80% Complete</span>
            </div>
          </div>

          <div class="divider divider-center divider-short divider-margin"><i class="icon-time"></i></div>

          <div class="widget-subscribe-form-result"></div>

        </div>

      </div>

    </section><!-- #content end -->
{% endblock %}
