{% extends "base.html" %}
{% block content %}

<section id="slider" class="force-full-screen full-screen">

    <div class="force-full-screen full-screen dark section nopadding nomargin noborder ohidden">

        <div class="container clearfix">
            <div class="slider-caption slider-caption-center">
                <h2 data-animate="fadeInUp">Welcome to The Science Runner</h2>
                <p data-animate="fadeInUp" data-delay="200">.</p>
                <a data-animate="fadeInUp" data-delay="400" href="/account/login/" class="button button-border button-light button-rounded button-large noleftmargin nobottommargin" style="margin-top: 30px;">Log In</a>
                <a data-animate="fadeInUp" data-delay="600" href="/account/signup/" class="button button-3d button-teal button-large nobottommargin" style="margin: 30px 0 0 10px;">Sign up</a>
            </div>
        </div>
        <div class="video-wrap">
            <video poster="/static/images/videos/messiermarathon.jpg" preload="none" loop autoplay muted style="width: 1349px; height: 759px; top: -129.5px;">
                <source src="/static/images/videos/messiermarathon.mp4" type="video/mp4">
                <source src="/static/images/videos/messiermarathon.webm" type="video/webm">
            </video>
            <div class="video-overlay" style="background-color: rgba(0,0,0,0.45);"></div>
        </div>

    </div>

</section>

{% endblock %}
