{% extends "base.html" %}


{% block head_title %}Sign In{% endblock %}

{% block content %}
    <section id="page-title">

      <div class="container clearfix">
        <h1 style="text-align:center">A note from the chair !</h1>
      </div>

    </section><!-- #page-title end -->

    <!-- Content
    ============================================= -->
    <section id="content">

      <div class="content-wrap">

        <div class="container clearfix">

          <div class="single-post nobottommargin">

            <!-- Single Post
            ============================================= -->
            <div class="entry clearfix">

              <!-- Entry Title
              ============================================= -->
              <!-- Entry Image
              ============================================= -->
              <div class="entry-image bottommargin" style="text-align:center; margin:auto">
                
                <iframe scrolling="no" src="https://magic.piktochart.com/embed/1928690-gender-roles-in-life-science?wmode=opaque" width="700" data-embed="true" frameborder="0" style="overflow-y:hidden; text-align:center; margin:auto" height="1800"></iframe>

              </div><!-- .entry-image end -->

              <!-- Entry Content
              ============================================= -->
              <div class="entry-content notopmargin">

                <blockquote><p>" Welcome to the Science Runway! "</p></blockquote>

                <p> I founded the Science Runway with CHI and WIHLS as a place where girls could discover unique, meaningful career paths in the healthcare & life sciences industries. </p>

                <p> I believe every scientist remembers the moment when they fell in love with science. I was eight years old when I had my science moment- and I never looked back. I spent the next decade figuring out how to balance my love of science with everything else I loved- creating new things, solving problems, teaching, and making an impact. I looked closely at both medicine and research- the traditional options presented to science majors- and ended up carving out my own path in entrepreneurship. Looking back, I wish I had realized at a younger age how many more options I had besides a PhD or a MD. </p>

               <blockquote> <p> Our mission at the Science Runway is to help girls realize that a strong background in the sciences can be a stepping stone to a myriad of careers. Our role models are women who work in fields as disparate as pharmaceuticals and politics. These women do everything- from running global companies to running for Congress, from saving lives in the operating room to winning Nobel Prizes. </p> </blockquote>

                <p> We believe that every little girl can grow up to be their own version of a brilliant, beautiful woman in science like each of our role models are! There is no single path of science for women; there aren’t two; there are as many as you can dream of.</p>
                
                <blockquote> <p style="text-align: right"> — Akhila Satish, Chair</p> </blockquote>

              </div>
            </div><!-- .entry end -->

          </div>

        </div>

      </div>

    </section><!-- #content end -->
{% endblock %}

