{% extends "base.html" %}
{% block css %}
<style type="text/css">
  /*.accordion.accordion-bg .acctitle, .accordion.accordion-bg .acctitlec {
            background-color: rgb(34, 179, 113);
            line-height: 44px;
            padding: 0 0 0 36px;
            margin-bottom: 5px;
            border-top: 0;
        }

        .panel-default {
            border-color: rgb(34, 179, 113);
        }

        .acctitle {
            display: block;
            position: relative;
            line-height: 24px;
            margin: 0;
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            cursor: pointer;
            border-top: 1px dotted #DDD;
            padding: 10px 0 10px 20px;
        }*/
</style>
{% endblock %}
{% block content %}
<section id="page-title">

  <div class="container clearfix">
    <h1 style="text-align:center">Your Mentor!</h1>
  </div>

</section><!-- #page-title end -->

<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">
      <div style="margin-bottom: 20px;">
          <div class="postcontent nobottommargin col_last clearfix">
            <p>{{mentor.bio}}</p>
          </div>

          <!-- Sidebar
          ============================================= -->
          <div class="sidebar nobottommargin clearfix">
            <div class="sidebar-widgets-wrap">

              <div class="widget subscribe-widget clearfix">
                <div class="dark" style="padding: 30px; background-color: #383838; border-radius: 2px; text-align:center">
                  {% if mentor.image %}
                    <img src="{{mentor.image}}" class="img-circle img-thumbnail notopmargin nobottommargin" alt="" style="max-width: 156px;">
                   {% else %}
                      <img src="/static/images/icons/avatar.jpg" class="img-circle img-thumbnail notopmargin nobottommargin" alt="" style="max-width: 156px;">
                  {% endif %}
                  <div class="fancy-title title-border" style="margin-top: 30px;">
                    <h4>{{mentor.name}}</h4>
                  </div>
                </div>
              </div>

            </div>
          </div><!-- .sidebar end -->
      </div>

      <!-- Post Content
      ============================================= -->
      <div class="clearfix" style="margin-top: 350px;">
        {% for each_qa in mentor.other_answers %}
            {% if each_qa.1 %}
              <div class="accordion accordion-bg clearfix">
                    <div class="acctitle">
                    <i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>
                      {{each_qa.0}}
                  </div>
                  <div class="acc_content clearfix">
                    <p>{{each_qa.1}}</p>
                  </div>
              </div>
            {% endif %}
        {% endfor %}
      </div><!-- .postcontent end -->


    </div>

  </div>
</section>

<!-- #content end -->

<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">

    </div>
  </div>
</section><!-- #content end -->

{% endblock %}
