{% extends "base.html" %}
{% block css %}

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

  <style type="text/css">
      .process-steps li {
            float: left;
            position: relative;
            width: 8%;
            text-align: center;
            overflow: hidden;
        }

        a {
            color: #1ABC9C;
            font-weight: 500;
        }

        .error {
            outline: none !important;
            border:1px solid red;
            box-shadow: 0 0 10px #719ECE;
        }

        /*.accordion.accordion-bg .acctitle, .accordion.accordion-bg .acctitlec {
            background-color: rgb(34, 179, 113);
            line-height: 44px;
            padding: 0 0 0 36px;
            margin-bottom: 5px;
            border-top: 0;
        }*/

        /*.panel-default {
            border-color: rgb(34, 179, 113);
        }

        .acctitle {
            display: block;
            position: relative;
            line-height: 24px;
            margin: 0;
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            cursor: pointer;
            border-top: 1px dotted #DDD;
            padding: 10px 0 10px 20px;
        }*/

  </style>

{% endblock %}

{% block content %}
<!-- Content
============================================= -->
<section id="page-title">
  <div class="container clearfix">
    <h1 style="text-align:center">Get Matched</h1>
  </div>
</section><!-- #page-title end -->

<section id="content">
  <form method="POST" id="myform" action="/result/">
    {% csrf_token %}
    <div class="content-wrap">
      <div class="container clearfix">
        <div class="panel panel-default nobottommargin"  style="margin-top: -4%;">

           <div class="accordion accordion-bg clearfix">
                <div class="panel panel-body">
                    <div class="accordion accordion-bg clearfix">
                  <div class="acctitle">
                        <i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Name
                  </div>
                  <div class="acc_content clearfix">
                      <input type="text" class="sm-form-control" name="name" class="" id="input_text" />
                  </div>
                  </div>

                    <div class="accordion accordion-bg clearfix">
                  <div class="acctitle required1">
                        <i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>Tell us a little bit about yourself
                  </div>
                  <div class="acc_content clearfix">
                      <textarea class="sm-form-control requiredval" required="required" name="bio" type="text" rows= "7" id="bio"></textarea>
                  </div>
                  </div>

                    <div class="accordion accordion-bg clearfix">
                  <div class="acctitle required2">
                        <i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>
                        What do you do every day?
                  </div>
                  <div class="acc_content clearfix">
                      <textarea class="sm-form-control requiredval" required="required" name="question1" type="text" rows= "2" id="question1" ></textarea>
                  </div>
                  </div>

                    <div class="accordion accordion-bg clearfix">
                  <div class="acctitle required3">
                        <i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>
                        Why do you love it?
                  </div>
                  <div class="acc_content clearfix">
                      <textarea class="sm-form-control requiredval" required="required" class="" name="question2" type="text" rows= "2" id="question2" ></textarea>
                  </div>
                  </div>

                    <div class="accordion accordion-bg clearfix">
                  <div class="acctitle required4">
                        <i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>
                        What were your moments of fear/challenges in your career?
                  </div>
                  <div class="acc_content clearfix">
                      <textarea class="sm-form-control requiredval" required="required" class="" name="question3" type="text" rows= "2" id="question3" ></textarea>
                  </div>
                  </div>

                    <div class="accordion accordion-bg clearfix">
                  <div class="acctitle required5">
                        <i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>
                        What are some of the innovations in science that you are most excited about?
                  </div>
                  <div class="acc_content clearfix">
                      <textarea class="sm-form-control requiredval" required="required" class="" name="question4" type="text" rows= "2" id="question4" ></textarea>
                  </div>
                  </div>

                    <div class="accordion accordion-bg clearfix">
                  <div class="acctitle required6">
                        <i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>
                        Where did you grow up?
                  </div>
                  <div class="acc_content clearfix">
                      <textarea class="sm-form-control requiredval" required="required" class="" name="question5" type="text" rows= "2" id="question5" ></textarea>
                  </div>
                  </div>

                    <div class="accordion accordion-bg clearfix">
                  <div class="acctitle required7">
                        <i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>
                        Who was your favorite teacher and why?
                  </div>
                  <div class="acc_content clearfix">
                      <textarea class="sm-form-control requiredval" required="required" class="" name="question6" type="text" rows= "2" id="question7" ></textarea>
                  </div>
                  </div>

                    <div class="accordion accordion-bg clearfix">
                  <div class="acctitle required8">
                        <i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>
                        Who/what inspires you?
                  </div>
                  <div class="acc_content clearfix">
                      <textarea class="sm-form-control requiredval" required="required" class="" name="question7" type="text" rows= "2" id="question7" ></textarea>
                  </div>
                  </div>

                    <div class="accordion accordion-bg clearfix">
                  <div class="acctitle required9">
                        <i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>
                        What’s next for you?/What would you like to do when you “grow up’? (retire, etc.)/ what is something you hope to accomplish in the future?
                  </div>
                  <div class="acc_content clearfix">
                      <textarea class="sm-form-control requiredval" required="required" class="" name="question8" type="text" rows= "2" id="question8" ></textarea>
                  </div>
                  </div>

                    <div class="accordion accordion-bg clearfix">
                  <div class="acctitle required10">
                        <i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>
                        Describe an experience where you adapted your approach to resolve a “sticky” situation?
                  </div>
                  <div class="acc_content clearfix">
                      <textarea class="sm-form-control requiredval" required="required" class="" name="question9" type="text" rows= "2" id="question9" ></textarea>
                  </div>
                  </div>

                    <div class="accordion accordion-bg clearfix">
                  <div class="acctitle required11">
                        <i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>
                        What is your unique talent? (can be something quirky)
                  </div>
                  <div class="acc_content clearfix">
                      <textarea class="sm-form-control requiredval" required="required" class="" name="question10" type="text" rows= "2" id="question10" ></textarea>
                  </div>
                  </div>

                    <div class="accordion accordion-bg clearfix">
                  <div class="acctitle required12">
                        <i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>
                        Personal style/fashion tip? What’s in your purse?
                  </div>
                  <div class="acc_content clearfix">
                      <textarea class="sm-form-control requiredval" required="required" class="" name="question11" type="text" rows= "2" id="question11" ></textarea>
                  </div>
                  </div>

                    <div class="accordion accordion-bg clearfix">
                  <div class="acctitle required13">
                        <i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>
                        Current book/book you love?
                  </div>
                  <div class="acc_content clearfix">
                      <textarea class="sm-form-control requiredval" required="required" class="" name="question12" type="text" rows= "2" id="question12" ></textarea>
                  </div>
                  </div>

                    <div class="accordion accordion-bg clearfix">
                  <div class="acctitle required13">
                        <i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>
                        Favorite web site/blog/”guilty pleasure”/fun
                  </div>
                  <div class="acc_content clearfix">
                      <textarea class="sm-form-control requiredval" required="required" class="" name="question13" type="text" rows= "2" id="question13" ></textarea>
                  </div>
                  </div>

                  <h3 style="font-size:18px">What best describes you? Select one option per row:</h3>

                    <div class="accordion accordion-bg clearfix">
                  <div class="acctitle">
                        <i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>
                        At fifteen, I enjoyed:
                  </div>
                  <div class="acc_content clearfix">
                    <table style="width:100%">
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                        </tr>
                        <div>
                            <tr>
                              <td>
                                <label for="common-11" class="">
                                    <input type="radio" id="common-11" name="common1" value="Drawing" />
                                    <span class="" style="font-size: 12px;">Drawing</span>
                                </label>
                              </td>
                              <td> </td>
                            </tr>
                            <tr>
                              <td>
                                <label for="common-12" class="">
                                    <input type="radio" class="" id="common-12" name="common1" value="Writing" />
                                    <span class="" style="font-size: 12px;">Writing</span>
                                </label>
                              </td>
                              <td> </td>
                            </tr>
                            <tr>
                              <td>
                                <label for="common-13" class="">
                                    <input type="radio" class="" id="common-13" name="common1" value="Painting" />
                                    <span class="" style="font-size: 12px;">Painting</span>
                                </label>
                              </td>
                              <td> </td>
                            </tr>
                            <tr>
                              <td>
                                <label for="common-14" class="">
                                    <input type="radio" class="" id="common-14" name="common1" value="Sports" />
                                    <span class="" style="font-size: 12px;">Sports</span>
                                </label>
                              </td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>
                                <label for="common-15" class="">
                                    <input type="radio" class="" id="common-15" name="common1" value="Going to the theater" />
                                    <span class="" style="font-size: 12px;">Going to the theater</span>
                                </label>
                              </td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>
                                <label for="common-16" class="">
                                    <input type="radio" class="" id="common-16" name="common1" value="Being outdoors" />
                                    <span class="" style="font-size: 12px;">Being outdoors</span>
                                </label>
                              </td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>
                                <label for="common-17" class="">
                                    <input type="radio" class="" id="common-17" name="common1" value="Playing with animals" />
                                    <span class="" style="font-size: 12px;">Playing with animals</span>
                                </label>
                              </td>
                              <td></td>
                            </tr>
                        </div>
                    </table>
                  </div>
                  </div>

                    <div class="accordion accordion-bg clearfix">
                  <div class="acctitle">
                        <i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>
                        At fifteen, my favorite subjects were:
                  </div>
                  <div class="acc_content clearfix">
                    <table style="width:100%">
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                        </tr>
                        <div>
                            <tr>
                              <td>
                                <label for="option-1" class="" style="margin-top: 20px;">
                                    <span class="" style="font-size: 16px; "> At fifteen, my favorite subjects were:</span>
                                </label>
                              </td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>
                                <label for="common-21" class="">
                                    <input type="radio" class="" id="common-21" name="common2" value="Math" />
                                    <span class="" style="font-size: 12px;">Math</span>
                                </label>
                              </td>
                              <td> </td>
                            </tr>
                            <tr>
                              <td>
                                <label for="common-22" class="">
                                    <input type="radio" id="common-22" name="common2" value="History" />
                                    <span class="" style="font-size: 12px;">History</span>
                                </label>
                              </td>
                              <td> </td>
                            </tr>
                            <tr>
                              <td>
                                <label for="common-23" class="">
                                    <input type="radio" id="common-23" name="common2" value="Biology" />
                                    <span class="" style="font-size: 12px;">Biology</span>
                                </label>
                              </td>
                              <td> </td>
                            </tr>
                            <tr>
                              <td>
                                <label for="common-24" class="">
                                    <input type="radio" id="common-24" name="common2" value="Chemistry" />
                                    <span class="" style="font-size: 12px;">Chemistry</span>
                                </label>
                              </td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>
                                <label for="common-25" class="">
                                    <input type="radio" id="common-25" name="common2" value="English" />
                                    <span class="" style="font-size: 12px;">English</span>
                                </label>
                              </td>
                              <td></td>
                            </tr>
                        </div>
                    </table>
                  </div>
                  </div>

                    <div class="accordion accordion-bg clearfix">
                  <div class="acctitle">
                        <i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>
                        At fifteen, my favorite subjects were:
                  </div>
                  <div class="acc_content clearfix">
                    <table style="width:100%">
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                        </tr>

                        <div>
                            <tr>
                              <td>
                                <label for="common-31" class="">
                                    <input type="radio" class="" id="common-31" name="common3" value="Working alone" />
                                    <span class="" style="font-size: 12px;">Working alone</span>
                                </label>
                              </td>
                              <td> </td>
                            </tr>
                            <tr>
                              <td>
                                <label for="common-32" class="">
                                    <input type="radio" class="" id="common-32" name="common3" value="Working in a group" />
                                    <span class="" style="font-size: 12px;">Working in a group</span>
                                </label>
                              </td>
                              <td></td>
                            </tr>
                        </div> 
                    </table>
                  </div>
                  </div>

                    <div class="accordion accordion-bg clearfix">
                  <div class="acctitle">
                        <i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>
                        I preferred:
                  </div>
                  <div class="acc_content clearfix">
                    <table style="width:100%">
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                        </tr>

                        <div>
                            <tr>
                              <td>
                                <label for="common-41" class="">
                                    <input type="radio" class="" id="common-41" name="common4" value="Creating something new" />
                                    <span class="" style="font-size: 12px;">Creating something new</span>
                                </label>
                              </td>
                              <td> </td>
                            </tr>
                            <tr>
                              <td>
                                <label for="common-42" class="">
                                    <input type="radio" class="" id="common-42" name="common4" value="Discovering something new" />
                                    <span class="" style="font-size: 12px;">Discovering something new</span>
                                </label>
                              </td>
                              <td></td>
                            </tr>
                        </div> 
                    </table>
                  </div>
                  </div>

                    <div class="accordion accordion-bg clearfix">
                  <div class="acctitle">
                        <i class="acc-closed icon-ok-circle"></i><i class="acc-open icon-remove-circle"></i>
                        I preferred:
                  </div>
                  <div class="acc_content clearfix">
                    <table style="width:100%">
                        <tr><p style="font-size:18px">What best describes you? Select one option per row:</p></tr>
                        <tr>
                          <td>
                            &nbsp;
                          </td>
                        </tr> 

                        <div>
                            <tr>
                              <td>
                                <label for="common-51" class="">
                                    <input type="radio" class="" id="common-51" name="common5" value="Working in a team" />
                                    <span class="" style="font-size: 12px;">Working in a team</span>
                                </label>
                              </td>
                              <td> </td>
                            </tr>
                            <tr>
                              <td>
                                <label for="common-52" class="">
                                    <input type="radio" class="" id="common-52" name="common5" value="Leading a team" />
                                    <span class="" style="font-size: 12px;">Leading a team</span>
                                </label>
                              </td>
                              <td></td>
                            </tr>
                        </div> 
                    </table>
                  </div>
                  </div>
              </div>

            <div style="text-align:center; margin-bottom: 30px;">
                <button class="button button-3d nomargin" type="submit" class="btn btn-mdb">Submit</button>
            </div>
          </div>
        

      </div>
    </div>
  </form>
</section><!-- #content end -->
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $('.requiredval').on('focus', function(){
    var requiredval = $(this).val();

    if ($(this).attr('required') && requiredval.length < 1){
      $(this).addClass('error');
    }
    else{
      $(this).removeClass('error'); 
    }

  }); 

  $('.requiredval').on('change', function(){
    if ($(this).val().length >= 1){
      $(this).removeClass('error'); 
    }

  }); 

</script>
{% endblock %}
